name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  spell-check:
    timeout-minutes: 5
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6

      - name: Check spelling
        uses: crate-ci/typos@06d010dfe4c84fdab1a25ea02b57b3585018ba80
