name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  spell-check:
    timeout-minutes: 5
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6

      - name: Check spelling
        uses: crate-ci/typos@a1d64977b4aa1709d6328d518aa753f4899352d8
